/* GLOBALS */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* label {
  margin: 0;
  padding: 0;
} */

.margin-main-container {
  margin: 60px 0 60px 0;
}

.no-decoration {
  text-decoration: none;
}

.card {
  height: 135px;
  width: 127px;
}
.card-comment {
  width: 75%
}

.dropdown-menu {
  margin-top: 1rem;
}

.main-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/ddby3wqlo/image/upload/v1554674220/NoHayWebos/icons/FONDO_3-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro-form-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.bg-white {
  background-color: white;
}

.logo {
  position: fixed;
  width: 200px;
  right: 25px;
}

.login {
  top: 250px;
}

.register {
  top: 80px;
}

.login-btn {
  height: 45px;
  border: 2px solid #ffb100 !important;
  background: #ffc629 !important;
}

/* NAV AND FOOTER BAR */

.pos-f-t {
  top: 0;
  z-index: 90;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 2px 0px rgb(189, 188, 189, 0.5);
}

.navbar {
  padding: .5rem;
}

.nav-bar-bg {
  background-color: rgb(255,198,41)
}

.navbar span {
  margin-left: .7rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(254,254,254)
}

.navbar-icon {
  height: 35px
}

.navbar-toggler {
  border: none;
}

.profile-container {
  display: flex;
  align-items: center;
}

.nav-bar-img-div {
  height: 45px
}

.nav-bar-img {
 height: 45px;
 width:45px;
 object-fit: cover;
 border-radius: 50%;
 border: 1px solid rgb(254, 254, 254);
}

.footer-bar {
  z-index: 90;
  box-shadow: 0px -2px 2px 0px rgb(189, 188, 189, 0.5);
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color:rgb(255,198,41);
  height: 60px;
  position: fixed;
  font-size: 1.7rem;
}


.search-bar {
  --position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: red;
  height: 50px;
}

/* BOARD COMPONENT */
.images-scroll {
  display: flex;
  width: 100%;
  max-height: 125px;
  overflow-x: auto;
  overflow-y: hidden;
}

.img-board-chg {
  object-fit: cover;
  border: 1px solid rgba(0,0,0,.125);
}

.images-scroll::-webkit-scrollbar {
  display: none;
}

.images-content {
  width: 180px;
  height: 113px;
}

.img-challenge-size {
  max-height: 113px;
}

.img-card-size {
  height: 80px;
  width: 125px;
}

.card-body {
  border-top: 1px solid rgba(0,0,0,.125);
}

.card-img-top {
  object-fit: cover
}

.cards-scroll {
  display: flex;
  padding-right: 10px;
  width: 100%;
  max-height: 135px;
  overflow-x: auto;
  overflow-y: hidden; 
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

.card-content {
  box-shadow: black;
  height: 100%;
}


/***MIS PRUEBAS (NO ME LAS BORRES VERO, PLIISSS!*****/
.icon-selected {
  color: rgb(255,198,41)
}

.icon-unselected {
  color: rgb(131, 128, 128)
}

.search-barr {
  background-color: yellowgreen;
}

.my-search-bar {
  background-color: white;
  height: 35px;
  width: 220px;
}


/*para el card-item*/
.height-line {
  line-height: 13px;
}

/********HASTA AQUI*******/



/* SEARCH */

.avatar-user {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.video-card {
  background-color: #717171;
}

.card-search {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}

/*este era para aumentarlo un poco al hacer un hover, pero dará problemas en la demostración para movil..*/
/* .card-search:hover {
  transform: scale(1.05);
  background-color: #e3f5fd
} */

.card-media-item {
  height: 100px;
  flex: column;
  justify-content: inherit;
  display: flex;
  flex-direction: column;
}


.img-in-search {
  width: 33%;
  margin: 0;
  height: 100px;
}

.see-more-btn {
  display: flex;
  align-content: center;
  border: 1px solid rgba(0,0,0,.125);;
  border-radius: .5rem;
  background-color: #94deff;
  padding: 0.15rem;
  color: white;
  width: 70px;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}

.icon-plus {
  font-size: 1rem;
  color: white;
  align-self: center;
}

.media

/* CHALLENGE DETAIL */

.chl-det-header {
  width: 100%;
  height: 250px;
  position: relative;
}

.chl-det-header img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(254, 254, 254, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.chl-det-header:hover .overlay {
  width: 30%;
  left: 70%;
}

ul.avatars {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 0px 7px 0px 0px;
  --flex-direction: row-reverse;  /*si quisieramos que se mostraran en orden inverso*/
}

li.avatars-img {
  width: 45px;
  height: 45px;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: relative ;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

img.avatars-img,
span.avatars-others {
  background-color: #ffc629;
  border: 2px solid #1F2532;
  border-radius: 100px 100px 100px 100px;
  color: #FFFFFF;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
}

li:nth-child(n+2) { margin-left: -20px; }

ul:hover li:nth-child(n+2) {
  margin-left: -5px;
}

/* USER CHALLENGE: */

.challenge-summary {
  background-color: #e3f5fd;
  border-radius: 0px 0px 15px 15px;
  height: 135px;
  align-content: center;
}

.challenge-descrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-challenge-img {
  width: 130px;
  height: 100px;
  object-fit: cover;
}

.scroll-container {
  padding-left: .5rem;
  border-top: 1px solid #ffc629;
  border-bottom: 1px solid #ffc629;
}

.user-challenge-scroll {
  padding-left: 0px
}

.add-evidence-btn {
  height: 80px;
  width: 80px;
  background-color:#b1e3f9;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.add-evidence-btn:active {
  background-color: #88d5f6;
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1); /* Standard syntax */
  }
  

.default-card {
  height: 135px;
  width: 127px;
  background-color:#e3f4fd;
  border-radius: 0.25rem;
  display: flex;
}

 
.achievement {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 20px;
  align-items: center;
}

.achievement img {
  height: 60px;
}

.progress-bar-content {
  border: 1px solid #ededed;
  height: 17px;
  width: 147px;
  border-radius: 17px;
    
}
.progress-bar-second {
  position: absolute;
  height: 15px;
  width: 145px;
  border-radius: 15px;
  background-image: linear-gradient(to right, #e71a3f , #18b8ff);
}

.progress-bar-progress {
	position: absolute;
  height: 15px;
  width: 145px;
  border-radius: 15px;
  --background-image: linear-gradient(to left, white 90%, transparent 0%);
}

/* modal */

.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  --background-color: rgb(109, 108, 108);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
}

 .modal-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  --background-color: rgb(148, 147, 147);
  width: 100%;
  height: 100%;
  color: white;
}

.modal-col {
  max-width: 100%;
  padding: 10px 0 0 0;
}

.modal-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  border: none;
  align-items: flex-start;
  padding: 0;
}

.modal-close {
  color:white;
  font-size: 1.5rem;
  display: flex;
}

.crsl-container {
  height: 400px;
}


.crsl-img {
  max-height: 100%;  
  max-width: 100%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}


/* NOTIFICATIONS */

.img-notification {
  --width: 33%;
  margin: 0;
  height: 150px;
}