/* GLOBALS */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.margin-main-container {
  margin: 60px 0 60px 0;
}

/* NAV AND FOOTER BAR */

.pos-f-t {
  top: 0;
  z-index: 90;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 2px 0px rgb(189, 188, 189, 0.5);
}

.navbar {
  padding: .5rem;
}

.nav-bar-bg {
  background-color: rgb(255,198,41)
}

.navbar span {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(254,254,254)
}

.profile-container {
  display: flex;
  align-items: center;
}

.nav-bar-img-div {
  height: 45px
}

.nav-bar-img {
 height: 100%;
 object-fit: contain;
 border-radius: 50%;
 border: 1px solid rgb(254, 254, 254);
}

.footer-bar {
  z-index: 90;
  box-shadow: 0px -2px 2px 0px rgb(189, 188, 189, 0.5);
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color:rgb(255,198,41);
  height: 60px;
  position: fixed;
  font-size: 1.7rem;
}

.search-bar {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: red;
  height: 50px;
}

/* BOARD COMPONENT */
.images-scroll {
  display: flex;
  width: 100%;
  max-height: 125px;
  overflow-x: auto;
  
}

.images-scroll::-webkit-scrollbar {
  display: none;
}

.images-content {
  width: 200px;
  height: 125px;
}

.img-challenge-size {
  max-height: 125px;
}

.img-card-size {
  height: 80px;
  width: 125px;
}

.cards-scroll {
  display: flex;
  width: 100%;
  max-height: 135px;
  overflow-x: auto;
  overflow-y: hidden; 
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

.card-content {
  --box-shadow: black;
  --width: 200px;
  height: 100%;
}




.icon-selected {
  color: orange;
}




.is-active {
  color: green;
  opacity: 100;
}

.img-in-search {
  width: 33%;
  margin: 0;
  height: 100px;
}


/* CHALLENGE DETAIL */

.chl-det-header {
  width: 100%;
  height: 250px;
  position: relative;
}

.chl-det-header img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(254, 254, 254, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.chl-det-header:hover .overlay {
  width: 30%;
  left: 70%;
}